<a href="https://colab.research.google.com/github/ABHIRAMI-2003/Introduction-to-Python/blob/main/python_6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
x=int(input("Enter a mark"))
if x >50:
  print("PASS")

Enter a mark56
PASS

In [ ]:
x=int(input("Enter a mark"))
if x >50:
  print("PASS")
if x <50:
  print("FAILED")

Enter a mark34
FAILED

In [ ]:
x=int(input("Enter SALARY"))
if x >230000:
  print("TAX")
if x <230000:
  print("NO TAX")

Enter SALARY240000
TAX

In [ ]:
x=int(input("Enter SALARY"))
if x>300000:
  print(x-250000*10/100)
  print("tax payable")

Enter SALARY322000
275000.0
tax payable

In [ ]:
x=int(input("Enter SALARY"))
if x>=250000:
  print(x*10/100)
if x>500000:
  print(x*20/100)

Enter SALARY260000
26000.0

In [ ]:
x=int(input("Enter SALARY"))
if x>250000 :
  print((x-250000)*10/100)
if x<250000:
  print("No Tax")
if x>250000 and x<500000:
  print((500000-250000)*10/100+(x-500000)*20/100)
if x>500000 and x<750000:
  print((x-750000)*30/100+(750000-500000)*20/100)

Enter SALARY600000
35000.0
5000.0