<a href="https://colab.research.google.com/github/ABHIRAMI-2003/Introduction-to-Python/blob/main/python_5_odd_and_even.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [9]:
x=0
y=0
for x in range(1,100):
  if x%2==0:
    y=y+x
    print(x)

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98

In [15]:
x=[76,34,24,76,87,12,34,51,67,90]
for y in x:
  print(y)

76
34
24
76
87
12
34
51
67
90

In [17]:
10%2

0

In [26]:
x=[76,34,24,76,87,12,34,51,67,90]
y=0
for y in x:
  if y%2==0:
   print(y)

76
34
24
76
12
34
90

In [31]:
x=[76,34,24,76,87,12,34,51,67,90]
y=3
for y in x:
  if y%2==1:
   print(y)

87
51
67